<div>
  <h5 class="card-title text-center"><div class="timer"><span id=""></span></div></h5>
  <h1 class="card-text text-center">$<%= %></h1>
  <button phx-click="inc" class="btn btn-success button" id="reset">Bid</button>
</div>

<%#= for bid <- @bids do %>
  <%#= bid.price_bid %>
  <%#= bid.start_time %>

<%# end %>