<h1>New Bid</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.bid_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.bid_path(@conn, :index), class: "btn btn-sm btn-outline-info" %></span>
