.show-item{
  font-weight: bold;
  width: 20px;
  height: 50px;
}

#card-color {
  background-color: #fbf6f4;
}

.index-bids {
  margin-left: 9rem;
}

.card-item-name {
  font-size: 14px;
  display: inline;
}

#expire-date {
  color: red;
}

.timer{
  font-size: 30px;
}